.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{

  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;


}


.search input:focus{

  box-shadow: none;
  border: 2px solid #0d6efd;


}

.search .fa-search{

  position: absolute;
  top: 20px;
  left: 16px;

}

.search button{

  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #0d6efd;

}
.custom-height{
  height: 250px;
}
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}



.description-text {
  height: 200px;
  overflow-y: scroll;
}

.text-area {
  height: 200px;
  resize: none;
  overflow-y: scroll;
}
