.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{

  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;


}

.search input:focus{

  box-shadow: none;
  border: 2px solid #0d6efd;


}

.search .fa-search{

  position: absolute;
  top: 20px;
  left: 16px;

}
.love-icon {
  cursor: pointer;
}

.love-icon i {
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.love-icon.loved i {
  color: red;
}
.search button{

  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #0d6efd;

}
.custom-height{
  height: 250px;
}
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}



.description-text {
  height: 200px;
  overflow-y: scroll;
}

.text-area {
  height: 200px;
  resize: none;
  overflow-y: scroll;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-screen-content {
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.5em;
  color: #2c3e50;
}

.subtext {
  color: #7f8c8d;
}





.dropdown {
  position: absolute;
  z-index: 1;
  .card {
    margin-bottom: 0;
  }
}

.card-header {
  background-color: #f8f9fa;
  padding: 1rem;
}
.summary-container {
  display: flex;
  flex-wrap: wrap;
}

.summary-item {
  margin-right: 10px;
}
