<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JobifyMe.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link mx-2" [ngClass]="{'active': item.active}" (click)="handleIconClicked(item.title)">
            {{ item.title }} <i *ngIf="item.icon" class="fa" [ngClass]="item.icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-job-form [visible]="jobPopupVisible" (visibleChange)="hideJobPopUp()" [isDisplay]="isDisplay"></app-job-form>
