<div [hidden]="!visible" [ngClass]="{'popup': isPopUp}" class="popup w-100" (click)="close()">
  <div class="modal-dialog modal-lg w-100" [ngClass]="{'remove-margin': isDisplay} " (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!isDisplay" class="modal-title">Create a job</h5>
        <h5 *ngIf="isDisplay" class="modal-title">Apply to a job</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="jobForm" (ngSubmit)="submitJobForm()">
          <div class="row">
            <div class="col-md-12">
              <!-- Job title -->
              <div class="form-group" *ngIf="!isDisplay; else jobTitleText">
                <label for="jobTitle">Job title *</label>
                <input formControlName="jobTitle" type="text" id="jobTitle" class="form-control"
                       placeholder="Please enter a job title" required>
              </div>
              <ng-template #jobTitleText>
                <div class="form-group">
                  <label class="form-label fw-bold">Job title *</label>
                  <p>{{ jobForm.get('jobTitle')?.value }}</p>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- Workplace -->
              <div class="form-group" *ngIf="!isDisplay; else workplaceText">
                <label for="workplace">Workplace *</label>
                <input formControlName="workplace" type="text" id="workplace" class="form-control"
                       placeholder="Please enter your workplace" required>
              </div>
              <ng-template #workplaceText>
                <div class="form-group">
                  <label class="form-label fw-bold">Workplace *</label>
                  <p>{{ jobForm.get('workplace')?.value }}</p>
                </div>
              </ng-template>
            </div>
            <div class="col-md-6">
              <!-- Work Type -->
              <div class="form-group" *ngIf="!isDisplay; else workTypeText">
                <label for="workType">Type of work</label>
                <select formControlName="workType" id="workType" class="form-control" required>
                  <option value="" selected disabled>--Select Your Issue--</option>
                  <option>Remote</option>
                  <option>On-site</option>
                  <option>Hybrid</option>
                </select>
              </div>
              <ng-template #workTypeText>
                <div class="form-group">
                  <label class="form-label fw-bold">Type of work</label>
                  <p>{{ jobForm.get('workType')?.value }}</p>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- Start Date -->
              <div class="form-group" *ngIf="!isDisplay; else startDateText">
                <label for="startDate">Starting date</label>
                <input formControlName="startDate" type="date" id="startDate" class="form-control"
                       placeholder="Select date">
              </div>
              <ng-template #startDateText>
                <div class="form-group">
                  <label class="form-label fw-bold">Starting date</label>
                  <p>{{ jobForm.get('startDate')?.value }}</p>
                </div>
              </ng-template>
            </div>
            <div class="col-md-6">
              <!-- Deadline -->
              <div class="form-group" *ngIf="!isDisplay; else deadlineText">
                <label for="deadline">Deadline for application</label>
                <input formControlName="deadline" type="date" id="deadline" class="form-control"
                       placeholder="Select date">
              </div>
              <ng-template #deadlineText>
                <div class="form-group">
                  <label class="form-label fw-bold">Deadline for application</label>
                  <p>{{ jobForm.get('deadline')?.value }}</p>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- Job Description -->
              <div class="form-group" *ngIf="!isDisplay; else jobDescriptionText">
                <label for="jobDescription">Job description</label>
                <textarea formControlName="jobDescription" id="jobDescription" class="form-control"
                          placeholder="Write the job description." rows="3" required></textarea>
              </div>
              <ng-template #jobDescriptionText>
                <div class="form-group">
                  <label class="form-label fw-bold">Job description</label>
                  <p>{{ jobForm.get('jobDescription')?.value }}</p>
                </div>
              </ng-template>
            </div>
            </div>

          <div class="row">
            <div class="col-md-12">
              <!-- Job Responsibilities -->
              <div class="form-group" *ngIf="!isDisplay; else jobResponsibilitiesText">
                <label for="jobResponsibilities">Job Responsibilities</label>
                <textarea formControlName="jobResponsibilities" id="jobResponsibilities" class="form-control"
                          placeholder="Write the job responsibilities." rows="3" required></textarea>
              </div>
              <ng-template #jobResponsibilitiesText>
                <div class="form-group">
                  <label class="form-label fw-bold">Job Responsibilities</label>
                  <p>{{ jobForm.get('jobResponsibilities')?.value }}</p>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- Background & Skills -->
              <div class="form-group" *ngIf="!isDisplay; else backgroundSkillsText">
                <label for="backgroundSkills">Background & Skills</label>
                <textarea formControlName="backgroundSkills" id="backgroundSkills" class="form-control"
                          placeholder="Write the required background and skills." rows="3" required></textarea>
              </div>
              <ng-template #backgroundSkillsText>
                <div class="form-group">
                  <label class="form-label fw-bold">Background & Skills</label>
                  <p>{{ jobForm.get('backgroundSkills')?.value }}</p>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- Job Benefits -->
              <div class="form-group" *ngIf="!isDisplay; else jobBenefitsText">
                <label for="jobBenefits">What you will get</label>
                <textarea formControlName="jobBenefits" id="jobBenefits" class="form-control"
                          placeholder="Write the job description." rows="2" required></textarea>
              </div>
              <ng-template #jobBenefitsText>
                <div class="form-group">
                  <label class="form-label fw-bold">What you will get</label>
                  <p>{{ jobForm.get('jobBenefits')?.value }}</p>
                </div>
              </ng-template>

            </div>
          </div>
          <div *ngIf="!isDisplay" class="col-12 my-3 w-100">

            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Submit form" style="width: 100%">
          </div>
        </form>
        <div *ngIf="isDisplay" class="col-12 my-3 w-100">
          <button class="btn btn-success btn-send pt-2 btn-block" (click)="onApply()" style="width: 100%"
                  [ngClass]="{'btn-danger': isApplied}">
            {{ isApplied ? 'Withdraw Application' : 'Apply' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
