.card {
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-body h5 {
  font-weight: 600;
}

.card-body h6 {
  font-size: 0.9rem;
  color: #6c757d;
}

.location-text {
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: auto;
}

.card .card {
  margin: 0;
  border: 0;
  box-shadow: none;
}

.card .card-body {
  padding: 0.5rem;
  font-size: 0.85rem;
  color: #6c757d;
}

.btn-link {
  font-size: 0.85rem;
  text-decoration: none;
}

.btn-outline-success,
.btn-outline-danger {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-outline-success i,
.btn-outline-danger i {
  margin-right: 0.25rem;
}

.btn-link i {
  margin-right: 0.5rem;
}
