<app-navigation-bar [isCompanyUser]="false"></app-navigation-bar>
<ng-container *ngIf="isLoading else applicationsReady">
  <div class="loading-screen-content">
    <div class="logo">
      <img src="/assets/loading-logo.svg" alt="">
    </div>
    <div class="text">
      <h1 class="loading-text">Loading...</h1>
      <p class="subtext">Please wait while we prepare everything for you.</p>
    </div>
  </div>
</ng-container>
<ng-template #applicationsReady>
  <div class="container mt-4">
    <h2 *ngIf="applications.length !==0">My Applications</h2>
    <div class="card text-center" *ngIf="applications.length === 0">
      <div class="card-body">
        <h5 class="card-title">
          There's a world full of opportunities awaiting!
        </h5>
        <p class="card-text">
          Seems like you haven't begun your adventure yet. The journey towards your dream job starts with a single step - applying.
        </p>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="info-card">
              <i class="fas fa-binoculars fa-2x mb-3 text-muted"></i>
              <h5>Unveil your Potential</h5>
              <p>Each job is a new horizon, a chance to shine and prove your abilities. Search through countless opportunities and find the one that resonates with your ambitions.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-card">
              <i class="fas fa-rocket fa-2x mb-3 text-muted"></i>
              <h5>Lift off Towards Success</h5>
              <p>Your dream job is not a destination, it's a journey. Don't wait for the perfect moment, seize the opportunity now. Ignite your career rocket and soar high.</p>
            </div>
          </div>
        </div>
        <a (click)="redirectToJobs()" class="btn btn-primary mt-4">Embark on My Career Adventure</a>
      </div>
    </div>
  <div class="card mt-2 mb-2" *ngFor="let application of paginatedApplications">
      <div class="card-header d-flex justify-content-between align-items-center" (click)="toggleDetails(application)">
        <div class="d-flex align-items-center">
          <div class="mb-1">{{application.jobData?.jobTitle}}</div>
        </div>
        <div class="toggle-icon">
          <i class="fas fa-chevron-down" [class.rotate]="application.showDetails"></i>
        </div>
      </div>
      <div class="job-description-box">
        <h5>Job Description</h5>
        <div class="description-content">
          <p>{{application.jobData?.jobDescription || 'No description available yet.'}}</p>
        </div>
      </div>
      <div class="card-body" [hidden]="!application.showDetails">
        <h5>Application Info</h5>
        <p>Application Date: {{getFormattedDate(application.applicationDate)}}</p>
        <p>Status: <span [class]="getStatusClass(application.status)">{{application.status}}</span></p>
        <p *ngIf="application.status === 'rejected' && application.rejectionReason">Rejection Reason: {{application.rejectionReason}}</p>
        <p *ngIf="application.scheduling && getFormattedDate(application.scheduling.date)">Interview Date: {{getFormattedDate(application.scheduling.date)}}</p>
        <p *ngIf="application.scheduling && application.scheduling.location">Interview Location: {{application.scheduling.location}}</p>
        <p *ngIf="application.invitation && application.status !== 'rejected'">Invitation: {{application.invitation}}</p>
        <div *ngIf="application.resources && application.resources.length">
          <h5>Resources:</h5>
          <ul>
            <li *ngFor="let resource of application.resources">
              <a [href]="resource.url" target="_blank">{{resource.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <app-app-pagination *ngIf="applications.length > itemsPerPage" class="my-3" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="applications.length" (pageChanged)="onPageChanged($event)"></app-app-pagination>
      </div>
    </div>

  </div>

</ng-template>
