<div *ngIf="fireService.auth.currentUser==null">
  <input placeholder="email" [(ngModel)]="userName" type="email" >
  <input placeholder="password" [(ngModel)]="password" type="password" >
  <button (click)="fireService.signIn(userName, password)">Sign in</button>
  <button (click)="fireService.register(userName, password)">Sign up</button>


</div>

<div *ngIf="fireService.auth.currentUser">
  <h1>hello, {{fireService.auth.currentUser.email}}</h1>
  <input [(ngModel)]="sendThisMessage">
  <button (click)="fireService.sendMessage(sendThisMessage)">send message</button>
  <p *ngFor="let m of fireService.messages">
    {{m|json}}
  </p>

</div>
