<table style="width: 100%">
  <thead>
  <tr>
    <th>Skills</th>
    <th>Rating</th>
    <th><i class="fa fa-trash" style="color: red"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr class="hotel_a">
    <td>Hotel A</td>
    <td>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
    </td>
    <td>
      <i class="fa fa-times"></i>
    </td>
  </tr>
  <tr class="hotel_b">
    <td>Hotel B</td>
    <td>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
    </td>
    <td>
      <i class="fa fa-times"></i>
    </td>
  </tr>

  <tr class="hotel_c">
    <td>Hotel C</td>
    <td>
        <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
    </td>
    <td>
      <i class="fa fa-times"></i>
    </td>
  </tr>
  <tr class="hotel_d">
    <td>Hotel D</td>
    <td>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
    </td>
    <td>
      <i class="fa fa-times"></i>
    </td>
  </tr>
  <tr class="hotel_e">
    <td>Hotel E</td>
    <td>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
      <i class="fa fa-star" style="color: rgb(253, 204, 13)"></i>
    </td>
    <td>
      <i class="fa fa-times"></i>
    </td>
  </tr>
  <tr height="48">
    <td>
      <button class="btn btn-danger btn-sm ml-auto w-100" style="width: 80%">Add a skill</button>
    </td>
    <td colspan="2">
      <button class="btn btn-danger btn-sm ml-auto w-100" style="width: 80%">Save changes</button>
    </td>
  </tr>
  </tbody>
</table>

<a class="attribution" href="http://fontawesome.io/"><i class="fa fa-font-awesome"></i> fontawesome.io</a>
