<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row align-items-center">
      <!-- login -->
      <div class="col-lg-6 px-lg-4" *ngIf="loginRegisterForm.get('isLogin')?.value">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Log in</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Hi, welcome back!</h3>
            <form [formGroup]="loginRegisterForm" id="loginForm" (ngSubmit)="login()">
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="email" type="email" placeholder="name@example.com" required>
                <label>Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="password" type="password" placeholder="Password" required>
                <label>Password</label>
              </div>
              <button class="btn btn-primary w-100" type="submit" (click)="login()">Submit</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Don't have an account? <button class="btn btn-primary" (click)="switchToRegister()">Register</button></div>
          </div>
        </div>
      </div>
      <!-- register -->
      <div class="col-lg-6 px-lg-4" *ngIf="!loginRegisterForm.get('isLogin')?.value">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Sign up</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Get started with jobifyMe</h3>
            <form [formGroup]="loginRegisterForm" id="registerForm" (ngSubmit)="register()">
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="email" type="email" placeholder="name@example.com" required>
                <label>Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="password" type="password" placeholder="Password" required>
                <label>Password</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" formControlName="isRecruiter">
                <label>Register as a recruiter</label>
              </div>
              <button class="btn btn-primary w-100" id="register" type="submit" name="registerSubmit">Register</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Already have an account? <button class="btn btn-primary" (click)="switchToLogin()">Login</button></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
        <h1 class="mb-4">JobifyMe.com <br class="d-none d-lg-inline">browse job search.</h1>
        <p class="lead text-muted">Welcome to our job board! Join our community of job seekers and employers and complete the form below to create your account and start exploring job listings...</p>
      </div>
    </div>
  </div>
</div>
