<app-navigation-bar class="my-2" [isCompanyUser]="false" [showSearchBar]="true"></app-navigation-bar>
<ng-container *ngIf="user || userData; else loading">
  <div *ngIf="userData && userData.isCompanyUser === false ; else popUp">
    <div class="container my-2">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="row g-0">
              <div class="col-md-2 d-flex flex-column align-items-center">
                <img src="https://robohash.org/mockUser?size=104x104" class="img-fluid rounded-start" alt="Profile Picture">
                <button class="toggle-button btn btn-outline-primary" (click)="toggleShowMore()">
                  {{ showMoreUserInfo ? 'Show Less' : 'Show More' }}
                  <i class="fa" [ngClass]="{'fa-chevron-down': !showMoreUserInfo, 'fa-chevron-up': showMoreUserInfo, 'rotate-icon': showMoreUserInfo}"></i>
                </button>
              </div>
              <div class="col-md-10">
                <div class="card-body expandable-card">
                  <div *ngIf="userData?.name; else noName">
                    <h5 class="card-title">{{userData.name}}</h5>
                  </div>
                  <ng-template #noName>
                    <h5 class="card-title">No name provided</h5>
                  </ng-template>
                  <div class="user-info-section" [ngClass]="{ 'scrollable-card': showMoreUserInfo, 'expandable-card': !showMoreUserInfo }">

                    <!-- Email -->
                    <div class="card-text box position-relative" [formGroup]="formGroup">
                      <div *ngIf="!isEditing('email')">
                        <div class="content-wrap">
                          <i class="fa fa-envelope"></i>
                          <span>: {{ userData.email }}</span>
                        </div>
                        <button class="btn btn-link position-absolute top-0 end-0" (click)="startEditing('email')">
                          <i class="fa fa-edit"></i>
                        </button>
                      </div>
                      <div *ngIf="isEditing('email')" class="content-wrap">
                        <i class="fa fa-envelope"></i>
                        <input type="email" class="form-control edit-input" placeholder="email" formControlName="email">
                        <button class="btn btn-link position-absolute top-0 end-0" (click)="stopEditing(); updateUserData()">
                          <i class="fa fa-check"></i>
                        </button>
                      </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="card-text box position-relative" [formGroup]="formGroup">
                      <div *ngIf="!isEditing('phoneNumber')">
                        <div class="content-wrap">
                          <i class="fa fa-phone"></i>
                          <span>: {{ userData.phoneNumber || 'No phone number provided' }}</span>
                        </div>
                        <button class="btn btn-link position-absolute top-0 end-0" (click)="startEditing('phoneNumber')">
                          <i class="fa fa-edit"></i>
                        </button>
                      </div>
                      <div *ngIf="isEditing('phoneNumber')" class="content-wrap">
                        <i class="fa fa-phone"></i>
                        <input type="tel" class="form-control edit-input" placeholder="phone number" formControlName="phoneNumber">
                        <button class="btn btn-link position-absolute top-0 end-0" (click)="stopEditing(); updateUserData()">
                          <i class="fa fa-check"></i>
                        </button>
                      </div>
                    </div>

                    <!-- Address -->
                    <div class="card-text box position-relative" [formGroup]="formGroup">
                      <div *ngIf="!isEditing('address') && userData?.address">
                        <div class="content-wrap">
                          <i class="fa fa-address-card"></i>
                          <span>: {{ userData.address.street }}, {{ userData.address.city }}, {{ userData.address.postalCode }}, {{ userData.address.country }}</span>
                        </div>
                        <button class="btn btn-link position-absolute top-0 end-0" (click)="startEditing('address')">
                          <i class="fa fa-edit"></i>
                        </button>
                      </div>
                      <div *ngIf="!isEditing('address') && !userData?.address">
                        <div class="content-wrap">
                          <i class="fa fa-address-card"></i>
                          <span>: No address provided</span>
                        </div>
                        <button class="btn btn-link position-absolute top-0 end-0" (click)="startEditing('address')">
                          <i class="fa fa-edit"></i>
                        </button>
                      </div>
                      <div *ngIf="isEditing('address')">
                        <div class="content-wrap">
                          <i class="fa fa-address-card"></i>
                          <div class="row g-3">
                            <div class="col">
                              <input type="text" placeholder="Street" class="form-control edit-input" formControlName="street">
                            </div>
                            <div class="col">
                              <input type="text" placeholder="City" class="form-control edit-input" formControlName="city">
                            </div>
                            <div class="col">
                              <input type="text" placeholder="Postal Code" class="form-control edit-input" formControlName="postalCode">
                            </div>
                            <div class="col">
                              <input type="text" placeholder="Country" class="form-control edit-input" formControlName="country">
                            </div>
                          </div>
                          <button class="btn btn-link position-absolute top-0 end-0" (click)="stopEditing(); updateUserAddress()">
                            <i class="fa fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card-body" [formGroup]="formGroup">
                      <div formArrayName="socialMediaProfiles">
                        <div *ngFor="let control of socialMediaProfiles.controls; let i = index">
                          <div [formGroupName]="i" class="card-text box position-relative">
                            <div class="d-flex justify-content-between align-items-center">
                              <div>
                                <span><i class="fab fa-{{control.value.type.toLowerCase()}}"></i>: <a [href]="control.value.url">{{ control.value.url }}</a></span>
                              </div>
                              <div>
                                <button *ngIf="!isEditing(control.value.id)" class="btn btn-link me-2" (click)="startEditing(control.value.id)">
                                  <i class="fa fa-edit"></i>
                                </button>
                                <button *ngIf="isEditing(control.value.id)" class="btn btn-link me-2" (click)="stopEditing(); updateUserData()">
                                  <i class="fa fa-check"></i>
                                </button>
                                <button class="btn btn-link" (click)="removeLink(control.value)">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                            </div>
                            <div *ngIf="isEditing(control.value.id)">
                              <input class="form-control mb-1" formControlName="type" placeholder="Social media type">
                              <input class="form-control" formControlName="url" placeholder="Social media URL">
                            </div>
                          </div>
                        </div>
                        <div class="mt-3">
                          <button class="btn btn-link" (click)="addSocialMediaProfile()">
                            <i class="fa fa-plus"></i> Add Social Media Profile
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <ng-container *ngFor="let section of sections">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header d-flex justify-content-between">
                {{ section.title }}
                <div>
                  <ng-container *ngIf="!isDisplay">
                    <button class="btn btn-sm btn-success mx-1" (click)="showPopUp(section.title)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </ng-container>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <ng-container *ngIf="section.items | async as items">
                  <ng-container *ngIf="getSlicedItems(items) as slicedItems">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of slicedItems">
                      {{ getDisplayProperties(item, section.displayProperty) }}

                      <div>
                        <button class="btn btn-link text-bg-light" (click)="editItem(item, section.title)">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-link text-danger" (click)="deleteItem(item, section.title)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </li>
                  </ng-container>

                  <li class="list-group-item" *ngIf="items.length > 3 && !showMore[section.title]">
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-primary w-100" (click)="showMoreItems(section.title)">
                        Show More ({{ items.length - 3 }} left)
                      </button>
                    </div>
                  </li>

                  <ng-container *ngIf="showMore[section.title]">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items | slice:3">
                      {{ getDisplayProperties(item, section.displayProperty) }}

                      <div>
                        <button class="btn btn-link text-bg-light" (click)="editItem(item, section.title)">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-link text-danger" (click)="deleteItem(item, section.title)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>

                    </li>
                    <li class="list-group-item">
                      <div class="d-flex justify-content-center">
                        <button class="btn btn-secondary w-100" (click)="showLessItems(section.title)">Show Less</button>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <app-work-experience-form #workExperienceForm [data]="data" [visible]="isWorkExperienceFormVisible" (visibleChange)="hidePopUp()"></app-work-experience-form>
    <app-skill-form #skillForm [data]="data"  [visible]="isSkillFormVisible" (visibleChange)="hidePopUp()"></app-skill-form>
    <app-language-form #languageForm [data]="data"  [visible]="isLanguageFormVisible" (visibleChange)="hidePopUp()"></app-language-form>
    <app-education-form #educationForm [data]="data"  [visible]="isEducationFormVisible" (visibleChange)="hidePopUp()"></app-education-form>
  </div>
  <ng-template #popUp>
    <!-- Content to display when the condition is false -->
    <div [hidden]="!visible" [ngClass]="{'popup': isPopUp}" class="popup" (click)="close()">
      <div class="modal-dialog modal-lg w-100" (click)="$event.stopPropagation()">
        <div class="modal-content popup-content">
          <div class="modal-header">
            <h5 class="modal-title">User profile</h5>
            <button type="button" class="btn-close" (click)="close(); $event.stopPropagation()"></button>
          </div>
          <div class="modal-body">
            <div class="container my-2">
              <div class="row">
                <div class="col-12">
                  <div class="card mb-4">
                    <div class="row g-0">
                      <div class="col-md-2">
                        <img src="https://robohash.org/mockUser?size=104x104" class="img-fluid rounded-start" alt="Profile Picture">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title">silamin</h5>
                          <div class="card-text box position-relative">
                            <p>{{ description }}</p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <ng-container *ngFor="let section of sections">
                  <div class="col-12">
                    <div class="card mb-4">
                      <div class="card-header d-flex justify-content-between">
                        {{ section.title }}
                        <div>
                        </div>
                      </div>
                      <ul class="list-group list-group-flush">
                        <ng-container *ngIf="section.items | async as items">
                          <ng-container *ngIf="getSlicedItems(items) as slicedItems">
                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of slicedItems">
                              <ng-container *ngIf="section.title !== 'Skills' && section.title !== 'Languages'; else skillsAndLanguages">
                                {{ getDisplayPropertiesBrief(item, section.title) }}
                              </ng-container>

                              <ng-template #skillsAndLanguages>
                                <div>{{ item.skill || item.language }}</div>
                                <div class="stars">
                                  <ng-container *ngFor="let starIndex of starIndexes; index as i">
                                    <span class="star" *ngIf="i < item.rating">★</span>
                                  </ng-container>
                                </div>
                              </ng-template>
                            </li>

                          </ng-container>

                          <li class="list-group-item" *ngIf="items.length > 3 && !showMore[section.title]">
                            <div class="d-flex justify-content-center">
                              <button class="btn btn-primary w-100" (click)="showMoreItems(section.title)">
                                Show More ({{ items.length - 3 }} left)
                              </button>
                            </div>
                          </li>

                          <ng-container *ngIf="showMore[section.title]">
                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items | slice:3">
                              {{ getDisplayPropertiesBrief(item,section.title) }}


                            </li>
                            <li class="list-group-item">
                              <div class="d-flex justify-content-center">
                                <button class="btn btn-secondary w-100" (click)="showLessItems(section.title)">Show Less</button>
                              </div>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="loading-screen-content">
    <div class="logo">
      <img src="/assets/loading-logo.svg" alt="">
    </div>
    <div class="text">
      <h1 class="loading-text">Loading...</h1>
      <p class="subtext">Please wait while we prepare everything for you.</p>
    </div>
  </div>
</ng-template>
