.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  padding: 20px;
  overflow-y: auto;
}

.modal-dialog {
  max-height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.modal-content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modal-body {
  overflow-y: auto;
  padding: 10px;
}

.popup-content {
  /* Remove height: 50% */
}

.stars {
  display: flex;
}

.star {
  display: inline-block;
}

.expandable-card {
  max-height: none;
  transition: max-height 0.01s ease-out, overflow-y 0.01s ease-out;
}

.scrollable-card {
  height: 140px; /* Adjust this value to suit your layout */
  overflow-y: auto;
  transition: max-height 0.01s ease-out, overflow-y 0.01s ease-out;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

.rotate-icon {
  animation: rotate 0.2s linear;
}

.toggle-button {
  margin-top: 10px;
}
.content-wrap {
  display: flex;
  align-items: center;
}

.edit-input {
  margin-left: 10px; /* Adjust this value as needed */
  height: 25px;
  width: 200px;
}

/* You might want to add some padding to .btn to ensure it doesn't overlap */
.btn {
  padding: 5px;
}
