<div [hidden]="!visible" class="popup" (click)="close()">
  <div class="modal-dialog modal-lg w-100" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Work Experience</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="jobTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" formControlName="{{WorkExperienceFormControlNames.JobTitle}}">
          </div>
          <div class="mb-3">
            <label for="employment-type" class="form-label">Employment Type</label>
            <select class="form-select" id="employment-type" formControlName="{{WorkExperienceFormControlNames.EmploymentType}}">
              <option selected>Choose...</option>
              <option value="Full-Time">Full-Time</option>
              <option value="Part-Time">Part-Time</option>
              <option value="Contract">Contract</option>
              <option value="Temporary">Temporary</option>
              <option value="Internship">Internship</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="company-name" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="company-name" placeholder="Company Name" formControlName="{{WorkExperienceFormControlNames.CompanyName}}">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location">
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="start-date" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="start-date" formControlName="StartDate">
            </div>
            <div class="col">
              <label for="end-date" class="form-label">End Date</label>
              <input type="date" class="form-control" id="end-date" formControlName="endDate">
            </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="currently-working" formControlName="currentlyWorking">
            <label class="form-check-label" for="currently-working">Currently Working Here</label>
          </div>
          <div class="mb-3">
            <label for="job-description" class="form-label">Job Description</label>
            <textarea class="form-control" id="job-description" rows="3" placeholder="Job Description" formControlName="JobDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
