<app-navigation-bar></app-navigation-bar>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card mb-4" *ngFor="let job of jobs; let jobIndex = index">
        <div class="card-header">
          <h5 class="card-title">{{ job.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job.company }}</h6>
        </div>
        <div class="card-body">
          <p class="card-text">{{ job.description }}</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Experience</th>
                <th>Summary</th>
                <th>Education</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let candidate of job.candidates; let rowIndex = index">
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.experience }}</td>
                <td>{{ candidate.summary }}</td>
                <td>{{ candidate.education }}</td>
                <td>
                  <button class="btn btn-primary" (click)="showCandidates(jobIndex, rowIndex)">Select</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Candidates dropdown -->
<div class="dropdown" [class.show]="isVisible">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ selectedJob?.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ selectedJob?.company }}</h6>
      <p class="card-text">{{ selectedJob?.description }}</p>
      <hr>
      <div *ngFor="let candidate of selectedJob?.candidates">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">{{ candidate.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ candidate.education }}</h6>
            <p class="card-text">{{ candidate.summary }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
