.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-screen-content {
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.5em;
  color: #2c3e50;
}

.subtext {
  color: #7f8c8d;
}





.dropdown {
  position: absolute;
  z-index: 1;
  .card {
    margin-bottom: 0;
  }
}

.card-header {
  background-color: #f8f9fa;
  padding: 1rem;
}
